.page-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.container {
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    perspective: 2700px;
}

#flip {
    display: none;
}

.cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

#flip:checked ~ .cover {
    transform: rotateY(-180deg);
}

.cover .front,
.cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.cover .back {
    transform: rotateY(180deg);
}

.cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.cover .text {
    position: absolute;
    z-index: 20;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
}

.forms {
    height: 100%;
    width: 100%;
    background: #fff;
}

.form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form,
.signup-form {
    width: calc(100% / 2 - 25px);
}

.title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: #7d2ae8;
}

.signup-form .title:before {
    width: 20px;
}

.input-boxes {
    margin-top: 30px;
}

.input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid {
    border-color: #7d2ae8;
}

.input-box mat-icon {
    position: absolute;
    color: #7d2ae8;
    font-size: 17px;
}

.text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.text a {
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}

.button {
    color: #fff;
    margin-top: 40px;
}

.button input {
    color: #fff;
    background: #7d2ae8;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.button input:hover {
    background: #5b13b9;
}

label {
    color: #5b13b9;
    cursor: pointer;
}

label:hover {
    text-decoration: underline;
}

.login-text,
.sign-up-text {
    text-align: center;
    margin-top: 25px;
}

@media (max-width: 730px) {
    .cover {
        display: none;
    }

    .login-form,
    .signup-form {
        width: 100%;
    }

    .signup-form {
        display: none;
    }

    #flip:checked ~ .forms .signup-form {
        display: block;
    }

    #flip:checked ~ .forms .login-form {
        display: block;
    }
}
