<!-- auth-form.component.html -->
<div class="page-container page-body">
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="assets/frontImg.jpg" alt="Front Image">
                <div class="text">
                    <span class="text-1">Every new friend is a <br> new adventure</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
            <div class="back">
                <img class="backImg" src="assets/backImg.jpg" alt="Back Image">
                <div class="text">
                    <span class="text-1">Complete miles of journey <br> with one step</span>
                    <span class="text-2">Let's get started</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form">
                    <div class="mb-1 ml-3">
                        <app-logo url="assets/favicon.png"></app-logo>
                    </div>
                    <div class="title">Login</div>
                    <form (ngSubmit)="onLogin()">
                        <div class="input-boxes">
                            <div class="input-box">
                                <mat-icon>email</mat-icon>
                                <input type="email" placeholder="Enter your email" required [(ngModel)]="loginData.email" name="email">
                            </div>
                            <div class="input-box">
                                <mat-icon>lock</mat-icon>
                                <input type="password" placeholder="Enter your password" required [(ngModel)]="loginData.password" name="password">
                            </div>
                            <div class="text"><a href="#">Forgot password?</a></div>
                            <div class="button input-box">
                                <input type="submit" value="Submit">
                            </div>
                            <div class="text sign-up-text">Don't have an account? <label for="flip">Signup now</label></div>
                        </div>
                    </form>
                </div>
                <div class="signup-form">
                    <div class="mb-1 ml-3">
                        <app-logo url="assets/favicon.png"></app-logo>
                    </div>
                    <div class="title">Signup</div>
                    <form (ngSubmit)="onSignup()">
                        <div class="input-boxes">
                            <div class="input-box">
                                <mat-icon>person</mat-icon>
                                <input type="text" placeholder="Enter your name" required [(ngModel)]="signupData.name" name="name">
                            </div>
                            <div class="input-box">
                                <mat-icon>email</mat-icon>
                                <input type="email" placeholder="Enter your email" required [(ngModel)]="signupData.email" name="email">
                            </div>
                            <div class="input-box">
                                <mat-icon>lock</mat-icon>
                                <input type="password" placeholder="Enter your password" required [(ngModel)]="signupData.password" name="password">
                            </div>
                            <div class="button input-box">
                                <input type="submit" value="Submit">
                            </div>
                            <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>