/* General Section Styling */
section {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    box-sizing: border-box;
    overflow: auto;
    padding: 8px;
}

/* Centering Content */
.center {
    margin: auto;
    width: 50vw;
    padding: 10px;
    text-align: center;
}

/* Wrapper Padding */
.wrapper {
    padding: 4px;
}

/* Home Section Specific Styling */
#home {
    padding-top: 10rem;
    background-image: url('../../../assets/home-section-background.jpg');
}

.home-section {
    padding: 3rem 2rem;
}

/* Common Background for Sections */
#events, #support, #contact, #partners, #stories, #resources {
    background-image: url('../../../assets/purple-background.jpg');
    scroll-margin-top: 6rem;
}

/* Icon Display Styling */
/* .icon-display {
    transform: scale(1);
    margin-right: 0px;
} */

/* Flexbox for Horizontal Alignment */
.wrapper .flex-container {
    display: flex;
    align-items: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .center {
        width: 80vw;
    }

    section {
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .center {
        width: 90vw;
    }

    .icon-display {
        transform: scale(1.5);
    }
}
