section {
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    box-sizing: border-box;
    overflow: auto;
}

.center {
    margin: auto;
    width: 50vw;
    padding: 10px;
}

.wrapper {
    padding: 32px;
}

#home {
    padding-top: 10rem;
    background-image: url('../../../assets/home-section-background.jpg');
}

.home-section {
    /* padding: 3rem 2rem; */
    /* background-image: url('../../../assets/home-section-background.jpg'); */
}


#events {
    background-image: url('../../../assets/purple-background.jpg');
    scroll-margin-top: 6rem;
}

#support {
    background-image: url('../../../assets/purple-background.jpg');
    scroll-margin-top: 6rem;
}

#contact {
    background-image: url('../../../assets/purple-background.jpg');
    scroll-margin-top: 6rem;
}

#partners {
    background-image: url('../../../assets/purple-background.jpg');
    scroll-margin-top: 6rem;
}

#stories {
    background-image: url('../../../assets/purple-background.jpg');
    scroll-margin-top: 6rem;
}

#resources {
    background-image: url('../../../assets/purple-background.jpg');
    scroll-margin-top: 6rem;
}

.icon-display {
    transform: scale(2);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(221, 148, 13);
    color: rgb(9, 2, 24);
    text-align: center;
    margin: 0px;
}