<section id="home" class="home-section">
    <div class="text-center">
        <div class="">
            <img class="bg-light tool-bar-icon" src="assets/favicon.png">
        </div>
        <div> <span class="mat-headline-5"> Welcome to </span> </div>
        <div>
            <span class="mat-headline-1"> Happy Family </span>
        </div>
        <p class="mt-3">
            A dream to provide everything to everyone with love. We are the platform to serve the required thing to
            those who are not able or not blessed as us by the God.
        </p>
        <p>
            Bet the part of our journey and be the reason for someone's smile!!
        </p>

        <div>
            <button mat-fab extended color="primary">
                <mat-icon>group_add</mat-icon>
                Join Now
            </button>

            <button mat-fab extended color="primary" class="ml-2" [routerLink]="['']" fragment="contact">
                <mat-icon>call</mat-icon>
                Call Us
            </button>

            <button mat-fab extended color="primary" class="ml-2" routerLink="sign-in">
                <mat-icon>fingerprint</mat-icon>
                Sign In
            </button>
        </div>

    </div>
</section>

<mat-divider></mat-divider>
<section id="events" class="events-section">
    <div class="text-right text-danger">
        <mat-icon class="icon-display">event</mat-icon>
        <span class="ml-2 mat-headline-4"> Events </span>
    </div>
</section>

<mat-divider></mat-divider>
<section id="stories" class="stories-section">
    <div class="text-white">
        <mat-icon class="icon-display">sentiment_very_satisfied</mat-icon>
        <span class="ml-2 mat-headline-4"> Stories </span>
    </div>
</section>

<mat-divider></mat-divider>
<section id="support" class="support-section">
    <div class="text-white">
        <mat-icon class="icon-display">how_to_vote</mat-icon>
        <span class="ml-2 mat-headline-4"> Support </span>
    </div>
</section>

<mat-divider></mat-divider>
<section id="contact" class="contact-section">
    <div class="text-white">
        <mat-icon class="icon-display">location_pin</mat-icon>
        <span class="ml-2 mat-headline-4"> Contact </span>
    </div>
</section>

<mat-divider></mat-divider>
<section id="resources" class="resources-section">
    <div class="text-white">
        <mat-icon class="icon-display">local_library</mat-icon>
        <span class="ml-2 mat-headline-4"> Resources </span>
    </div>
</section>

<mat-divider></mat-divider>
<section id="partners" class="partners-section">
    <div class="text-white">
        <mat-icon class="icon-display">hub</mat-icon>
        <span class="ml-2 mat-headline-4"> Partners </span>
    </div>
</section>