<section id="home" class="home-section">
    <div class="center text-center">
      <div>
        <img class="bg-light tool-bar-icon" src="assets/favicon.png" alt="Happy Family Logo">
      </div>
      <div> 
        <span class="mat-headline-5">Welcome to</span> 
      </div>
      <div>
        <span class="mat-headline-1">Happy Family</span>
      </div>
      <p class="mt-3">
        A dream to provide everything to everyone with love. We are the platform to serve the required things to those who are not as blessed as us by God.
      </p>
      <p>
        Be part of our journey and be the reason for someone's smile!!
      </p>
      <div>
        <button mat-fab extended color="primary">
          <mat-icon>group_add</mat-icon>
          Join Now
        </button>
        <button mat-fab extended color="primary" class="ml-2" [routerLink]="['']" fragment="contact">
          <mat-icon>call</mat-icon>
          Call Us
        </button>
        <button mat-fab extended color="primary" class="ml-2" routerLink="sign-in">
          <mat-icon>fingerprint</mat-icon>
          Sign In
        </button>
      </div>
    </div>
  </section>
  
  <mat-divider></mat-divider>
  
  <section id="events">
    <div class="events-section wrapper">
      <div class="text-left text-danger" id="back-section">
        <mat-icon class="icon-display">event</mat-icon>
        <span class="ml-2 mat-headline-4">Events</span>
      </div>
    </div>
    <div class="center">
      <!-- <app-event-list></app-event-list> -->
    </div>
  </section>
  
  <mat-divider></mat-divider>
  
  <section id="stories">
    <div class="stories-section wrapper">
      <div class="text-white">
        <mat-icon class="icon-display">sentiment_very_satisfied</mat-icon>
        <span class="ml-2 mat-headline-4">Stories</span>
      </div>
    </div>
    <div class="stories-section-top">
      <h3>Top Layer</h3>
    </div>
  </section>
  
  <mat-divider></mat-divider>
  
  <section id="support">
    <div class="support-section wrapper">
      <div class="text-white">
        <mat-icon class="icon-display">how_to_vote</mat-icon>
        <span class="ml-2 mat-headline-4">Support</span>
      </div>
    </div>
    <div class="support-section-top">
      <h3>Top Layer</h3>
    </div>
  </section>
  
  <mat-divider></mat-divider>
  
  <section id="contact">
    <div class="contact-section wrapper">
      <div class="text-white">
        <mat-icon class="icon-display">location_pin</mat-icon>
        <span class="ml-2 mat-headline-4">Contact</span>
      </div>
    </div>
    <div class="contact-section-top">
      <h3>Top Layer</h3>
    </div>
  </section>
  
  <mat-divider></mat-divider>
  
  <section id="resources">
    <div class="resources-section wrapper">
      <div class="text-white">
        <mat-icon class="icon-display">local_library</mat-icon>
        <span class="ml-2 mat-headline-4">Resources</span>
      </div>
    </div>
    <div class="resources-section-top">
      <h3>Top Layer</h3>
    </div>
  </section>
  
  <mat-divider></mat-divider>
  
  <section id="partners">
    <div class="partners-section wrapper text-center text-white">
      <div>
        <mat-icon class="icon-display mr-2">hub</mat-icon>
        <span class="ml-2 mat-headline-4">Partners</span>
      </div>
      <mat-divider class="mt-4"></mat-divider>
      <div>
        <span class="mat-headline-1">Our Trusted Partners</span>
      </div>
      <p class="mt-3">
        A dream to provide everything to everyone with love. We are the platform to serve the required things to those who are not as blessed as us by God.
      </p>
      <p>
        Be part of our journey and be the reason for someone's smile!!
      </p>
      <app-partner-list></app-partner-list>
    </div>
  </section>
  

  <app-footer></app-footer>