<mat-divider></mat-divider>
  
<div class="footer p-2 text-white" #footer>
  <div class="footer-content">
      <div class="footer-left">
          <span>Copyright © {{currentYear}} HAPPY FAMILY</span>
      </div>
      <div class="footer-right">
          <a href="#" class="social-icon"><mat-icon>facebook</mat-icon></a>
          <a href="#" class="social-icon"><mat-icon>twitter-x</mat-icon></a>
          <a href="#" class="social-icon"><mat-icon>instagram</mat-icon></a>
          <a href="#" class="social-icon"><mat-icon>linkedin</mat-icon></a>
      </div>
  </div>
</div>